.container {
  border: 1px solid #333;
  padding: 1em;
  border-radius: 5px;

  min-height: 150px;
  width: 100%;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.title {
}

.title svg {
  float: right;
  height: 1.2em;
  width: 1.2em;
}

.description {
}

.icons {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
}
.icons svg {
  height: 2em;
  width: 2em;
  margin-right: 0.5em;
}
