<a
  href="/"
  class="group relative z-30 flex h-5 items-center space-x-1.5 text-base font-semibold text-black dark:text-white"
>
  <span
    class="-translate-y-0.5 text-xl transition-transform duration-300 ease-in-out group-hover:-rotate-12 group-hover:scale-[1.2]"
    >✨</span
  >
  <!-- Logo Text -->
  <span class="-translate-y-0.5"> gudoesdev</span>
</a>
